<div class="background-image">
    <div class="content">
        <div class="text">
            <h1>INNOVATION! TECHNOLOGY!</h1>
            <h1>LET'S TALK ABOUT THE FUTURE!</h1>
            <p>Technology is an ever-evolving field that encompasses the application of scientific knowledge, engineering principles, and innovative solutions to address various human needs and challenges. It has profoundly impacted nearly every aspect of our lives, from how we communicate and work to how we travel and access information.</p>

            <a class="read-more-button" href="/Home/ReadMore">Read More</a>
        </div>
    </div>
</div>