<div class="jumbotron">
    <h1 class="display-4">Welcome to Your Tech!</h1>
    <p class="lead">Discover the latest in technology.</p>
    <hr class="my-4">
    <p>Explore our features and stay connected.</p>
    <a class="btn btn-primary btn-lg read-more-button" href="#" role="button">Get Started</a>
</div>

<div>
    <img src="https://img.freepik.com/free-photo/man-wearing-smart-glasses-touching-virtual-screen-futuristic-technology-digital-remix_53876-104247.jpg?w=1060&t=st=1701079356~exp=1701079956~hmac=7d6466786834d3adc09eb4fc6542eb86b06c1cb948c6ba00e19a729dde00f48c" alt="Technology Image" class="img-fluid" />
</div>