@model LoginRequestDto
@{
    ViewData["Title"] = "Login";
    Layout = null; // Disable layout for this view
}

<!DOCTYPE html>
<html lang="en">
<partial name="_header"></partial>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post">
        <h3>Login Here</h3>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" placeholder="UserName" data-val="true" data-val-required="Username is required">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" data-val="true" data-val-required="Password is required">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        
        <button type="submit" class="form-control btn btn-success"  value="Submit">Login</button>
		<h5>Not Registered? Sign Up Here<img src="~/images/downarrow.png" /></h5>
        <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>

    </form>
    <partial name="_jsfiles"></partial>

</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}