<!-- Views/Shared/_CustomLayout.cshtml -->
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TechBeyondThoughts.Web</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">

    <!-- Include landing page-specific styles -->
    @RenderSection("head", required: false)
	<link href="~/css/stylesheet.css" rel="stylesheet" />
    <!-- Include landing page-specific scripts -->
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    @RenderSection("scripts", required: false)
</head>

<body class="is-boxed has-animations">

</body>

</html>
