<footer class="site-footer">
    <div class="container">
        <div class="site-footer-inner">
            <div class="brand footer-brand">
                <a href="#">
                    <img class="header-logo-image" src="~/dist/images/logo.svg" alt="Techbeyondthoughts Logo">
                </a>
            </div>
            <div class="footer-copyright">&copy; @DateTime.Now.Year Techbeyondthoughts, all rights reserved</div>
        </div>
    </div>
</footer>
